body {
    margin: 0px;
    font-family: 'Helvetica';
    color:#303030;
}

@font-face{
        font-family: 'Helvetica';
        src: url('Helvetica.eot');
        src: local('Helvetica'), url('font/Helvetica.woff') format('woff'), url('Helvetica.ttf') format('truetype');
}

.block1 {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    text-align: center;
    display: table;
}

.shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.header_container {
   color: #ffffff;
   display: table-cell;
   vertical-align: middle;
   margin-top: -50px;
}

.name {
   display: inline-block;
   font-size: 40px;
   font-weight: 300px;
   vertical-align: 300%;
   letter-spacing: 2px;
}

.picture {
    background-image: url(img/logo.png);  
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    z-index:1;
    height:300px;
    width:300px;
    margin: 15px;
    display: inline-block;
}

.photo {
    background-image: url(img/main_photo.jpeg);  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    border-radius: 100%;   
    z-index:2;   
    height: 150px;
    width: 150px; 
    margin: 0 auto;
    margin-top: 43px;
    margin-left: 75px;
    margin-right: 75px;
   
}

.text {
    font-size: 25px; 
}

.head_letters{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.timer_item {
    display: inline-block;
    padding: 32px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

#seconds, #minutes, #hours, #days {
    font-size:80px;
    text-align: center;
}

.divider {
    background-image: url(img/divider.png);
    background-repeat: repeat;
    background-size: 21px 16px;
    width: 100%;
    margin-top: -8px;
    height: 16px;
}

h1 {
   text-align: center;
   font-weight: normal;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);  
}

.violet {
    color: #ce5eb9;
}

p {
    text-align: center;
    line-height: 1.5;

}

.block2 {
    padding: 15px;
}

.line {
    margin-top: 1px;
    width:100%;
    height: 2px;
    background-color: #efeef1;
}

.block3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#plan_container {
    text-align: center;
    display: table;
    margin: 0 auto;
}

.plan {
   display: table-cell;
   vertical-align: text-top;
   margin: auto;
}

.image {
    display: inline-block;
    margin: auto;
    height: 96px;
    padding: 30px;
}

.image img{
    max-width: 96px;
}

.line_to_divide {
    height: 5px;
    width: 2px;
    background-color: #efeef1;
    margin-top: 1px;
    display: table;
    margin: 0 auto;
}

.long_line {
    width:100%;
    height: 2px;
    background-color: #efeef1;
}

.grey {
    color: #7d7a7a;
}

.text1 {
    margin-top: 30px;
}

.block4 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ce5eb9;
}

.white_color {
    color: #ffffff;
    padding: 30px;
}

.palette {
   margin: 0 auto;
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
}

#violet {
    background-color:#be81f7;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#blue {
    background-color:#5882fa;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#pink {
    background-color:#f781f3;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#peach {
    background-color:#f5a9a9;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.block5{
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center; 
}